
@{
    ViewData["Title"] = "Order Summary";
}

@section StyleLink{ 
<link href="~/css/order-online.css" rel="stylesheet" />
}

<!-- Start Pages Title  -->
<section id="page-title" class="page-title-style2">
    <div class="color-overlay"></div>
    <div class="container inner-img">
        <div class="row">
            <div class="Page-title">
                <div class="col-md-12 text-center">
                    <div class="title-text">
                        <h6>Great Service</h6>
                        <h2 class="page-title">Order  Summary</h2>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <div class="breadcrumb-trail breadcrumbs">
                        <span class="trail-begin"><a href="#">Home</a></span>
                        <span class="sep">/</span> <span class="breadcrumb-trail"><a href="#">Order</a></span>
                        <span class="sep">/</span> <span class="trail-end">Order Summary</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Pages Title  -->
<!-- Content Start -->
<main class="main-content">

    <!-- Content Start -->
    <section class="cfo-area order-summary-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="order-summary">
                        <div class="empty-basket">
                            <h2>Your basket is empty</h2>
                            <p>
                                Placeholder add items from menu or return to restaurant list
                            </p>
                            <a class="active" href="#">Back to menu</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="cfo-orderlist">
                            <div class="cfo-itemlist">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="cross-td"><a href="">X</a></td>
                                            <td class="itme-td">
                                                <div class="item-name">
                                                    <h2>Chicken Fried Rice</h2>
                                                    <p>Stir fried rice with boneless chicken and veggies</p>
                                                </div>
                                            </td>
                                            <td class="increse-td">
                                                <div class="input-group spinner">
                                                    <input type="text" class="form-control" value="1">
                                                    <div class="input-group-btn-vertical">
                                                        <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                                                        <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="amont-td">&pound; 120</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- End of cfo-Itemlist -->
                            <div class="cfo-itemlist">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="cross-td"><a href="">X</a></td>
                                            <td class="itme-td">
                                                <div class="item-name">
                                                    <h2>Chicken Fried Rice</h2>
                                                    <p>Stir fried rice with boneless chicken and veggies</p>
                                                </div>
                                            </td>
                                            <td class="increse-td">
                                                <div class="input-group spinner">
                                                    <input type="text" class="form-control" value="1">
                                                    <div class="input-group-btn-vertical">
                                                        <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                                                        <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="amont-td">&pound; 120</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- End of cfo-Itemlist -->
                            <div class="cfo-itemlist">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="cross-td"><a href="">X</a></td>
                                            <td class="itme-td">
                                                <div class="item-name">
                                                    <h2>Chicken Fried Rice</h2>
                                                    <p>Stir fried rice with boneless chicken and veggies</p>
                                                </div>
                                            </td>
                                            <td class="increse-td">
                                                <div class="input-group spinner">
                                                    <input type="text" class="form-control" value="1">
                                                    <div class="input-group-btn-vertical">
                                                        <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                                                        <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="amont-td">&pound; 120</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- End of cfo-Itemlist -->
                            <div class="cfo-itemlist">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="cross-td"><a href="">X</a></td>
                                            <td class="itme-td">
                                                <div class="item-name">
                                                    <h2>Chicken Fried Rice</h2>
                                                    <p>Stir fried rice with boneless chicken and veggies</p>
                                                </div>
                                            </td>
                                            <td class="increse-td">
                                                <div class="input-group spinner">
                                                    <input type="text" class="form-control" value="1">
                                                    <div class="input-group-btn-vertical">
                                                        <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                                                        <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="amont-td">&pound; 120</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- End of cfo-Itemlist -->

                            <div class="clearfix"></div>
                            <div class="footer-total clearfix">
                                <div class="checkout-footer">
                                    <div class="totals">
                                        <table>
                                            <tfoot>
                                                <tr class="subtotal">
                                                    <td></td>
                                                    <td class="title">Subtotal</td>
                                                    <td class="price">930</td>
                                                </tr>
                                                <tr class="subtotal">
                                                    <td></td>
                                                    <td colspan="2" class="title">
                                                        <label for="dis"><input type="radio" name="off" id="dis">10 % Discount</label>
                                                    </td>
                                                </tr>
                                                <tr class="subtotal">
                                                    <td></td>
                                                    <td colspan="2" class="title">
                                                        <label for="offer1"><input type="radio" name="off" id="offer1">Free bottle of wine</label>
                                                    </td>
                                                </tr>
                                                <tr class="subtotal">
                                                    <td></td>
                                                    <td colspan="2" class="title">
                                                        <label for="offer2"><input type="radio" name="off" id="offer2">Free bottle of wine</label>
                                                    </td>
                                                </tr>
                                                <tr class="voucher">
                                                    <td class="voucher-input"></td>
                                                    <td class="title"></td>
                                                    <td class="price"></td>
                                                </tr>
                                                <tr class="delivery-fee ">
                                                    <td></td>
                                                    <td class="title">
                                                        Delivery fee
                                                    </td>
                                                    <td class="price">
                                                        75
                                                    </td>
                                                </tr>
                                                <tr class="service-tax">
                                                    <td></td>
                                                    <td class="title">
                                                        + Service fee (10 %)
                                                    </td>
                                                    <td class="price">&pound; 81</td>
                                                </tr>
                                                <tr class="total">
                                                    <td></td>
                                                    <td colspan="2">
                                                        <span class="title">Total</span>
                                                        <span class="price">&pound; 1,086</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td colspan="2" class="title rounded-off">
                                                        Total will be rounded off
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- End of CFO order list -->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="cfo-orderinfo">
                        <div class="order-info">
                            <h2>Order information</h2>
                            <ul class="custom-radio list-unstyled list-inline">
                                <li>
                                    <input type="radio" id="f-option" name="selector">
                                    <label for="f-option">Delivery</label>
                                    <div class="check"></div>
                                </li>
                            </ul>
                            <p>Your order will be delivered to your address.</p>
                        </div>
                        <div class="order-info">
                            <ul class="custom-radio list-unstyled list-inline">
                                <li>
                                    <input type="radio" id="later" name="selector">
                                    <label for="later">Later</label>
                                    <div class="check"></div>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                            <div class="form-group select-cftime">
                                <select id="aa" name="aa" required="required" class="form-control">
                                    <option value="" selected="selected">Select a date</option>
                                    <option value="2016-04-26">2016-04-26</option>
                                    <option value="2016-04-27">2016-04-27</option>
                                </select>
                            </div>
                        </div>
                        <!-- End of Order Info -->
                        <div class="cfo-checkoutarea">
                            <h2>Special Request</h2>
                            <form action="#">
                                <div class="form-group">
                                    <textarea name="ff" class="form-control" id="ff" cols="10" rows="5"></textarea>
                                </div>
                                <button type="submit" id="dd" name="dd" class="btn btn-primary btn-block custom-checkout">Checkout</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Main container end -->
</main>

<!-- Content End -->
